language: node_js
node_js:
  - "10"
addons:
  apt:
    packages: [libgconf-2-4]
cache:
  yarn: true
  directories:
    - node_modules
    - ~/.cache
services:
  - docker
env:
  - DOCKER_COMPOSE_VERSION=1.24.0

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

install:
  - yarn install --frozen-lockfile
  - yarn run initialize
  - yarn run compile
  - yarn run lint

script:
  - yarn start-server-and-test ci:start "3000|2996/status" "yarn lerna run cypress:run:ci --scope re-radio-e2e"
