version: '3.7'
services:
  postgres:
    container_name: re-radio_postgres
    image: postgres:10-alpine
    restart: ${RESTART_POLICY}
    ports:
      - '${DB_PORT}:5432'
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres

  pgadmin:
    container_name: re-radio_pgadmin
    image: dpage/pgadmin4:5.4
    restart: ${RESTART_POLICY}
    logging:
      driver: 'none'
    ports:
      - '${PGADMIN_PORT}:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin:/root/.pgadmin

  redis:
    container_name: re-radio_redis
    image: redis:6.2.4-alpine
    restart: ${RESTART_POLICY}
    ports:
      - '${REDIS_PORT}:6379'

volumes:
  postgres:
  pgadmin:
