{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/prefer-optional-chain": "error",
    "import/order": [
      "error",
      { "groups": ["builtin", "external", "internal", "unknown", "parent", "sibling", "index"] }
    ],
    "import/first": ["error"],
    "import/no-unassigned-import": ["error"],
    "import/no-duplicates": ["error"],
    "import/newline-after-import": ["error"]
  }
}
