version: "3.7"
services:
  postgres:
    container_name: re-radio_postgres
    image: postgres:10.8-alpine
    restart: ${RESTART_POLICY}
    ports:
      - "${DB_HOST_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres

  redis:
    container_name: re-radio_redis
    image: redis:5.0.9-alpine
    restart: ${RESTART_POLICY}
    ports:
      - "${REDIS_HOST_PORT}:6379"
  
  radio:
    container_name: re-radio_main
    image: ${APP_IMAGE}
    restart: ${RESTART_POLICY}
    ports: 
      - "${MAIN_HOST_PORT}:2996"
    depends_on:
      - postgres
      - redis
    environment: 
      REDIS_HOST: re-radio_redis
      REDIS_PORT: 6379
      DB_HOST: re-radio_postgres
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      WAIT_HOSTS: re-radio_postgres:5432, re-radio_redis:6379
      JWT_SECRET: ${JWT_SECRET}
      JWT_TOKEN_EXPIRES_IN: ${JWT_TOKEN_EXPIRES_IN}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}

volumes:
  postgres:
