name: Integration testing
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: actions/checkout@master
      - name: Install dependencies
        run: npm ci
      - name: Initialize
        run: npm run initialize
      - name: Compile
        run: npm run compile
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Run e2e tests
        uses: cypress-io/github-action@v2
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          RADIO_SERVER_HOST: localhost
          RADIO_SERVER_PORT: 2996
          CYPRESS_baseUrl: 'http://localhost:2996'
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        with:
          record: true
          install: true
          runTests: true
          start: npm run ci:start --prefix ../
          working-directory: e2e
          wait-on: 'http://localhost:2996/status'
          wait-on-timeout: 60
      - name: Persist the log file
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: log
          path: server/storage/log
      - name: Check if there are changes in the workspace
        id: codeChanges
        uses: UnicornGlobal/has-changes-action@v1.0.12
      - name: Process changes in the workspace
        if: steps.codeChanges.outputs.changed == 1
        run: |
          git status
          echo "There are some changes exist in the repository while building."
          git diff
          exit 1
